.panel{
    span{
        font-size:1.2em;
    }
    .align-bottom{
        margin-top: 20px;
    }
    .specs{
        font-style: italic;
    }
    input[type=checkbox]{
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
        position:relative;
        top:1px;
    }
    .btn-group button{        
        border-radius: 3px;
        margin:0 4px 0 4px;

        span{
            padding-top:2px;
        }
        &:last-of-type{
            margin:0 0 0 4px;
        }
    }
}

.modal-header{
    margin-top: 40px;
    padding: 0 0 10px;
    .alert-success{
        margin-bottom:0;
    }
}
.modal-body{
    margin-top: 20px;
    padding: 0;
}

h2, h3, h4{
    display:inline;  
}
h3{
    line-height:130%;
}
h4{
    line-height:180%;
}
.rightContent{
    float: right;
}

.list-group-item {
    padding: 10px 0px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #ddd;
}