<div class="container-fluid">

  <div class="row header">
      <div class="col-xs-12">
        <h2>Shopping List</h2>
        <button class="btn btn-warning rightContent btn-sm" (click)="openModal('createList')">New List</button>
      </div>
  </div>

  <app-modal [idModal]="modalList">

      <div class="modal-header">
        <h3>Create a new List</h3>
      </div>
      <!--
      <div class="modal-body">
          <form (ngSubmit)="createList(formDatePicker.value)" [formGroup]="formDatePicker">
            <div class="form-group">
              <label for="name">Select a date</label>
              <input id="date" type="date" class="form-control" formControlName="date">
            </div>
          <button type="submit" class="btn btn-warning center-block btn-sm">Create</button>
        </form>
      </div>-->
      
  </app-modal>

  <div class="panel panel-default row">

    <div class="panel-heading">
        <h4>List of : {{list}}</h4>
        <button class="btn btn-primary rightContent btn-sm" (click)="openModal('addItem'); formItem.setForm()">
          Add Item
        </button>  
    </div>

    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor='let item of items'>
          <input type="checkbox" (change)="checkItem(item)" [checked]="item.status == true">
          <span>{{item.quantity}}x</span>
          <span>{{item.name}}</span>
          <span *ngIf="item.comments" class="specs"> - {{item.comments}}</span>
          <div class="pull-right btn-group">
            <button class="edit"type="button" class="btn btn-primary btn-xs" title="Edit" (click)="openModal('addItem'); formItem.setForm(item)"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="remove" type="button" class="btn btn-primary btn-xs" title="Remove" (click)="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></button>
          </div> 
        </li>  
      </ul>
    </div>

  </div>

</div>

<app-modal [idModal]="modalItem">
    <app-form-item></app-form-item>
</app-modal>
