.panel{
    span{
        font-size:1.2em;
    }
    .align-bottom{
        margin-top: 20px;
    }
    .specs{
        font-style: italic;
    }
    input[type=checkbox]{
        width: 15px;
        height: 15px;
        vertical-align: top;
    }
    .btn-group button{
        margin:0 4px;
        border-radius: 3px;

        span{
            padding-top:2px;
        }
    }
}