<div class="container-fluid">
  <div class="card col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a routerLink="/shopping-list" routerLinkActive="active">
        <div class="content shopping">
          <img src="assets/img/cart_icon.png" alt="cart_icon">
          <h2>Shopping List</h2>
        </div>
      </a>
  </div>
  <div class="card col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a routerLink="/tip-calculator" routerLinkActive="active">
      <div class="content tipCalc">
        <img src="assets/img/tip_icon.png" alt="tip_icon">
        <h2>Tip Calculator</h2>
      </div>
    </a>
  </div>
</div>